body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #00fff0;
}

img {
    width: 100%;
}

main {
    width: 85vw;
    min-height: 80vh;
    max-width: 1024px;
    margin: 35px auto;
    background: #fff;
    padding: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.page-view {
    min-height: 40vh;
}

.grid-view div.card.ui {
    margin: 1.25rem;
}

NavLink {
    border-bottom: antiquewhite 3px solid;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

NavLink a:active {
    background: #4183c4;
    color: #c0c0c0;
    box-shadow: inset 1px 1px 5px 1px black;
    border-radius: 12px;
}


/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
    text-align: center;
}